@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Exo+2:ital,wght@1,200&family=IBM+Plex+Sans:wght@300&family=Pangolin&display=swap');
body{
    font-family: 'Lexend Peta', sans-serif;
    margin: 1.5;
    
}
h1,h2,h3,h4,p,ul{
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    padding-left: 0;
    list-style: none;
}
img{
    width: 100%;
    display: block;
}